/* universal css */

*{
    margin: 0;
    padding: 0;
}

/* shared style */
.primary-button{
    background-color: #4E47FF;
    border: none;
    padding: 12px 36px;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
}

.bg-color{
    background-color: #F5F8FF;
}
.inter-common {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.raleway-common{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}



/* header area start */
.top-header{
    max-width: 1140px;
    margin: 0 auto;  
}
header{
    background-image: url(Assets/Hero-bg.png);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-content{
    max-width: 1140px;
    margin: 0 auto;
}
.header-content-top{
    padding: 50px 0;
}
.header-content-bottom{
    padding-bottom: 152px;
}
.header-content-button{
    background-color: #4E47FF;
    border: none;
    padding: 12px 36px;
    border-radius: 12px;
    color: #fff;
}
.header-content-bottom{
    text-align: center;
}
.header-content-bottom h2{
    padding-top: 158px;
    text-align: center;
    padding-bottom: 37px;
}
.header-content h2{
    font-size: 65px;
    font-weight: bold;  
}
/* header area end */


/* action area start */
.action-section{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 116px 0;
}
.action-area-left{
    padding-top: 63px;
}
.action-area-left h2{
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 23px;
}
.action-area-left p{
    font-size: 24px;
    padding-bottom: 23px;
    color: rgba(37, 36, 50, 0.5)
}
.action-area-right img{
    border-radius: 48px;
}

/* action area  end */


/* productive area start */
.productive-area{
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 50px;
    padding: 50px 0; 
}
.productive-area-top{
    text-align: center;
}
.productive-area-top h2{
    font-size: 38px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    padding-bottom: 40px;
}
.productive-area-bottom{
    display: flex;
    gap: 158px;
    justify-content: center;
    text-align: center;
}
.productive-area-bottom h2{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF
}
.productive-area-bottom p{
    font-size: 20px;
    color: rgba(34, 33, 33, 0.5)
}

/* productive area end */


/* user area start */

.user-area{
    max-width: 1140px;
    margin: 0px auto; 
    padding: 137px 0;
}
.user-area-top h2{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
}
.user-area-bottom{
    display: flex;
    justify-content: space-between;
    gap: 20px;   
}
.user-section-1{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 24px 44px 24px 24px;
}
.user-area-bottom .star-icon{
    padding-bottom: 24px;
}
.user-title h3{
    padding-bottom: 8px;
}
.user-subtitle h4{
    padding-bottom: 24px;
}
.user-img{
    display: flex;
}
.user-img img{
    border-radius: 50%;
}
.user-title h3{
    font-size: 20px;
}
.user-name{
    padding-left: 12px;
}
.user-name h4{
    color: rgba(117, 117, 117, 1)
}
.user-name p{
    color: rgba(179, 179, 179, 1);
}
/* user area end */


/* focus area start */
.focus-area{
    max-width: 1140px;
    margin: 0px auto; 
    text-align: center;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
}

.focus-area-top h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 71px;
}

.focus-area-top p{
    font-size: 20px;
    margin-bottom: 20px;
}

.focus-area-bottom img{
    margin: 20px 0 71px 0;
    border-radius: 48px;
}
/* focus area end */


/* touch area start */
.touch-area{
    max-width: 1140px;
    margin: 0px auto;  
    display: flex; 
    padding: 93px 0;
    
}
.touch-area-left {
    width: 528px;
}
.touch-area-left h2{
    font-size: 97px;
    font-weight: bold;
    margin-top: 150px;  
}
.touch-area-right {
    padding-left: 115px;
}
.touch-area-right label{
    font-size: 18px;
    font-weight: 600;
    display: block;
    padding-bottom: 10px;
}
.touch-area-right [type="text"], .touch-area-right [type="email"]{
  height: 64px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  padding: 10px 10px;
  margin-bottom: 24px;
  width: 157%;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: block;
}

textarea{
  height: 180px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  padding: 10px 10px;
  margin-bottom: 24px;
  width: 157%;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: block;
}

.touch-area-right button{
    width: 163%;
    font-size: 16px;
}
/* touch area end */


/* footer area start */
.footer-area{
     max-width: 1140px;
    margin: 0px auto; 
    text-align: center; 
    padding-top: 104px;
}
.footer-area h2{
    font-size: 100px;
    font-weight: bolder;
    color: rgba(78, 71, 255, 1);
    padding-bottom: 8px;
}
.footer-area p{
    font-size: 20px;
    color: rgba(137, 135, 161, 1);
    padding-bottom: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 103px;  
}
nav ul{
  display: flex;
  align-items: center;
  
}
nav ul li{
    list-style: none;
    margin: 0 40px;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #8987A1;
}
/* footer area end */
